.bg {
    background-image: url('images/tokyotower.jpg');
    background-size: cover;
    background-position: top;
    height: 56vh;
}

.header {
    font-family: 'Times New Roman';
    color: #424242
}