.bg {
    background-image: url('images/tokyotower.jpg');
    background-size: cover;
    background-position: top;
    height: 56vh;
}

.home {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    font-family: 'Times New Roman';
    color: #424242
}


.bio {
    font-size: 20px;
}

