.title {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman';
    color: #424242;
}

.projectcontainerwrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 7%;
    margin-right: 7%;
}

.projectcontainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 50px;
}

.linkContainer {
    width: 35vw;
    display: inline-block
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 100%;
    gap: 20px;
}

.projectImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: solid;
    border-color: #424242;
}

.projectName {
    text-decoration: none;
    font-family: "Caveat";
    color: #42515B;
    font-size: clamp(30px, 2vw, 50px);
    font-weight: bold;
    text-align: center;
}

.description {
    color: #536672;
    font-size: clamp(10px, 2vw, 50px);
}

.left, .right {
    flex: 1;
}