.title {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman';
    color: #424242;
}

.projectcontainerwrapper {
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    padding-right: 7%;
    margin: 0;
}

.projectcontainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 60px;
}


.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 100%;
}

.imageContainer {
    width: clamp(250px, 3vw, 500px);
    height: auto;
}

.projectImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: solid;
    border-color: #424242;
}

.projectName {
    text-decoration: none;
    font-family: "Caveat";
    color: #42515B;
    font-size: clamp(30px, 2vw, 50px);
    font-weight: bold;
    text-align: center;
}

.description {
    color: #536672;
    font-size: clamp(10px, 2vw, 50px);
}

.left, .right {
    flex: 1;
}