html {
    scroll-behavior: smooth;
    ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbarscrolled {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: #424242b3; 
    transition: background-color 0.3s ease;
}

.navlogo {
    padding-left: 10px;
    width: 70px;
}
.navlinks {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.link {
  display: inline-block;
  font-family: "Caveat", cursive;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform-origin: center;
  padding: 0 2rem;
}

.link-colour {
  display: inline-block;
  font-family: "Caveat", cursive;
  font-size: 1.4rem;
  padding: 0 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.link:hover {
  transform: scale(1.2);
}

.link-colour:hover {
  transform: scale(1.2);
}